* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #333;
  color: #fff;
}

.crud {
  width: 80%;
  margin: auto;
}

.crud .head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background-color: #222;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
}

input:focus {
  background-color: #111;
}

.price input {
  width: 20%;
}

.price .total {
  background-color: #a00d02;
  padding: 5px;
  border-radius: 4px;
}

.price .total::before {
  content: "total: ";
}

button {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #390053;
  cursor: pointer;
  border-radius: 16px;
  color: #fff;
  transition: 0.5s;
}

button:hover {
  background-color: #51045f;
  letter-spacing: 1px;
}

.btn-search {
  display: flex;
  justify-content: space-between;
}

.btn-search button {
  width: 45%;
}

.delete-all {
  margin: 20px 0;
}

table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

table th {
  text-transform: uppercase
}

table th,
table td {
  padding: 5px;
}